h4 {
    text-align: center;
}

#boards {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    min-height: 75px;
}

.card-panel {
    min-height: 40px;
    position: relative;
}

.card_header {
    line-height: inherit;
    margin: 0 6px;
    text-align: center;
}

.card_name {
    font-size: 1.2rem;
    font-weight: bold;
}

.card_notes {
    margin: 0;
    word-wrap: break-word;
}

.card_button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: absolute;
}

.card_button:hover {
    background-color: rgba(0,0,0,0.2);
}

.card_right_button {
    height: 100%;
    right: 0;
    top: 0;
}

.card_left_button {
    height: 100%;
    left: 0;
    top: 0;
}

.card_up_button {
    height: 20px;
    left: 0;
    top: 0;
    width: 100%;
}

.card_down_button {
    bottom: 0;
    height: 20px;
    left: 0;
    width: 100%;
}

.card_close_button {
    padding: 0 8px;
    right: 0;
    top: 0;
}

.stage:first-child .card-panel .card_left_button,
.stage:first-child .card-panel .card_up_button,
.stage:nth-last-child(2) .card-panel .card_right_button,
.stage:nth-last-child(2) .card-panel .card_down_button {
    display: none;
}

.progress {
    bottom: 0;
    display: none;
    height: 4px;
    left: 0;
    margin: 0;
    position: absolute;
}

textarea {
    background-color: transparent!important;
    border-bottom: 1px solid #9e9e9e;
    border: none;
    min-height:50px;
    overflow: hidden;
    resize: vertical;
}

textarea:focus {
    border-bottom: 1px solid #26a69a;
    border: none;
    box-shadow: 0 1px 0 0 #26a69a;
}

td {
    padding: 0;
}

input {
    height: 2rem!important;
}
