{% extends "orderboard/base.html" %}
{% block title %}Orderboard{% endblock %}
{% block heading %}Archive{% endblock %}
{% block content %}
<div class="row">
    {% for card in archive.cards %}
    <div class="col s12 l4">
        <div id="card_{{ card.id }}" class="card teal">
            <div class="card-content white-text">
                <span class="card-title">{{ card.name }}</span> ({{card.quantity}})
                <p>{{ card.notes }}</p>
            </div>
            <div class="card-action">
                <button onclick="restoreItem({{ card.id }})" class="waves-effect waves-light btn green">Unarchive <i class="material-icons right">restore</i></a>
            </div>
            <div id="card_{{ card.id }}_progress" class="progress"> <div class="indeterminate"></div></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
