<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<meta name="viewport" content="width=device-width" />
		<title>Orderboard</title>
		<link rel="stylesheet" type="text/css" href="{% static 'orderboard/style.css' %}">
		<script src="{% static 'orderboard/script.js' %}" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="boards">
			{% for stage in stage_list %}
			<div class="stage" id="stage_{{ stage.stage_name }}">
				{% for card in stage.cards %}
				<div id="card_{{ card.card_id }}">
					<div id="card_{{ card.card_id }}_name" class="card_name">{{ card.name }}</div>
					<div id="card_{{ card.card_id }}_quantity" class="card_quantity">{{ card.quantity }}</div>
					<div id="card_{{ card.card_id }}_notes" class="card_notes">{{ card.notes }}</div>
					<button onclick="moveItem({{ card.card_id }})" id="card_{{ card.card_id }}_button" class="card_button">Move To Next</button>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
			<div id="clear" style="clear:both;"></div>
		</div>
		<hr/>
		<form method="post" action="">
			{{ formset.management_form }}
			{% csrf_token %}
			<table>
				{% for form in formset %}
				{{ form }}
				{% endfor %}
			</table>
			<input type="submit" value="Submit Item" class="button"/>
		</form>
	</body>
</html>
