<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<meta name="viewport" content="width=device-width" />
		<title>Orderboard</title>
		<link rel="stylesheet" type="text/css" href="{% static 'orderboard/style.css' %}">
		<script src="{% static 'orderboard/script.js' %}" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="boards">
			{% for stage in stage_list %}
			<div class="stage" id="stage_{{ stage.name }}">
				<h3>{{ stage.name }}</h3>
				{% for card in stage.cards %}
				<div id="card_{{ card.id }}" class="card">
					<div class="card_header">
						<span class="card_name">{{ card.name }}</span>(<span id="card_{{ card.id }}_quantity" class="card_quantity">{{ card.quantity }}</span>)
					</div>
					<div id="card_{{ card.id }}_notes" class="card_notes">{{ card.notes }}</div>
					<button onclick="moveItem({{ card.id }}, 'left')" id="card_{{ card.id }}_left_button" class="card_button card_left_button">&lt;</button>
					<button onclick="moveItem({{ card.id }}, 'right')" id="card_{{ card.id }}_right_button" class="card_button card_right_button">&gt;</button>
					<div onclick="deleteItem({{ card.id }})" id="card_{{ card.id }}_close_button" class="card_button card_close_button">&times;</div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
			<div id="clear" style="clear:both;"></div>
		</div>
		<hr/>
		<h2>Add a new item</h2>
		<form method="post" action="">
			{{ formset.management_form }}
			{% csrf_token %}
			<table>
				{% for form in formset %}
				{{ form }}
				{% endfor %}
			</table>
			<input type="submit" value="Submit Item" class="button"/>
		</form>
		<br/>
	</body>
</html>
